.main-area{
    width:936px;
    margin:30px auto 0;
    overflow: hidden;
}
.main-con{
    float:left;
    width: 65%;
    border:1px solid #ccc;
}
.aside-con{
    float:right;
    width: 28%;
    border:1px solid #ccc;
}
/* header part css start */
.db-header{
    width: 100%;
    height: 60px;
    background: #f5f6f4;
}
.header-in{
    width: 936px;
    height: 60px;
    line-height: 60px;
    margin:0 auto;
}
.header-in>div,
.header-in>div>ul>li{
    float:left;
}
.header-in>div{
    width: 50%;
}
.header-in>div:first-child{
    width: 20%;
    /* font-size: 20px; */
    font-weight: bold;
    letter-spacing: 1px;
}
.header-in>div:last-child{
    width: 30%;
}
.header-in>div>.db-list>li{
    width: 25%;
    cursor: pointer;
}
.db-list span{
    padding: 6px 10px;
}
.db-list span:hover{
    background: #364F67;
    color: #fff; 
}
.header-in input[type="text"]{
    background: #fff;
    width: 75%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left:10px;
}
.header-in input::-webkit-input-placeholder{
    color: #aaa;
}
.header-in input::-moz-placeholder{   
    color: #aaa;
}

/* tag list */
.aside-con h3{
    text-align: left;
    font-size: 18px;
    padding:8px 0 8px 30px;
    border-bottom: 1px solid #eee;
}
ul.tag-list{
    display: flex;
    display: -webkit-flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:10px auto;
    color: #37a;
}
ul.tag-list>li{
    width: 33.33%;
    padding:5px 0;
}
ul.tag-list-v{
    height: auto;
    color: #37a;
    line-height: 40px;
    text-align: left;
}
ul.tag-list-v>li{
    height: 40px;
    border-top: 1px solid #eee;
    padding-left: 30px;
}
ul.tag-list-v>li:last-child{
    border-bottom: 1px solid #eee;
}
ul.tag-list-v>li:hover{
    background: #f5f6f4;
}

/* content part list */
ul.con-list-temp{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap:wrap;
    justify-content:center; 
}
ul.con-list-temp li{
    max-width: 152px;
    border:1px solid #ccc;
}
ul.con-list-temp li p.con-list-bkname{
    color: #37a;
}